:root {
  // Colors
  --green: #1eb980;
  --green-dark: #045d56;
  --orange: #ff6859;
  --yellow: #ffcf44;
  --purple: #b15dff;
  --blue: #72deff;

  --gray1: #1e1e1e;
  --gray2: #33333d;

  // Others
  --ff-main: "Open Sans", "Helvetica Neue", Roboto, Oxygen, Ubuntu, Cantarell,
    sans-serif;
}

body {
  font-family: var(--ff-main);
}
